@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --a : 0;
}

body{
    background-color: black;
    color: white;

}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.left{
    width: 20vw;
    
}
.right{
    width: 80vw;
    margin: 11px;
    position: relative;
   
}
.home ul li{
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px;
    
}
.heading img{
    width: 24px;
   
    display: flex;
    gap: 15px;
    padding: 10px;
}
.heading{
    display: flex;
    gap: 15px;
    padding: 5px;
    align-items: center;
    font-size: 13px;
    
}
.library .footer {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;

}
.library .footer a{
    color: gray;
    text-decoration: none;
    
}
.library{
    min-height: 80vh;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(34,34,34);
}
.header  > *{
    padding: 20px;
   
}
.spotifyplaylist h1{
    padding: 7px;
    font-size: 20px;
}
.spotifyplaylist .cardcontainer{
    display: flex;
    gap: 10px;
    margin: 30px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow: auto;
    /* justify-content: center; */
}
.spotifyplaylist .card{
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.9s;
    
    
    
}
.card:hover{
    background-color: rgb(67, 66, 66);
    cursor: pointer;
    --a: 1;
}


.card img{
    width: 100%;
    object-fit: contain;
    
}
.spotifyplaylist .card .play{
    position: absolute;
    bottom: 85px;
    right:13px;
    opacity: var(--a);
    transition: all 1s ease-in-out;
}
.signupbtn{
    background-color: rgb(34,34,34);
    color: rgb(82,82,82);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
}
.signupbtn:hover {
    color: white;
    font-size: 16px;

}
.loginupbtn{
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    width: 62px;
    border-radius: 39px;
    margin: 0 5px;
    padding: 5px 4px;
}
.loginupbtn:hover {
    font-weight: bolder;
    font-size: 16px;

} 
.playbar{
    position: fixed;
    right: 56px;
    bottom: 35px;
    width: 72vw;
    background-color: white;
    padding: 13px;
    /* color: black; */
    filter: invert(1);
    background-color: rgb(236, 226, 226);
    border-radius: 23px;
    min-height: 43px;
    text-overflow:clip;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.songlist ul{
    padding: 10px 10px;
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 13px;
    padding: 12px 0;
    border: 1px solid white;
    padding: 12px 15px;
    margin: 10px 0;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    justify-content: space-between;
   
}
.hamburger{
    display: none;
    height: 29px;
    width: 31px;
}
.hamburgercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    z-index: 1;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.songlist .info{
    font-size: 14px;
}
.playnow span{
    width: 67px;
    font-size: 13px;
    
}
.card:hover{
    background-color: rgb(67, 66, 66);
    cursor: pointer;
}
.songlist{
    height: 580px;
    overflow: auto;
    /* margin: 0 0 px 0;; */
}
.seekbar{
    height: 0.5px;
    width: 98%;
    border: 2px solid black;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    top: 58px;
}
.playbar .circle{
    width: 14px;
    height: 14px;
    border-radius: 45px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}
.songbuttons img{
    cursor: pointer;
    width: 34px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}
.songinfo{
    color: black;
    width: 250px;
}
.songtime{
    color: black;
    
    width: 100px; 
}
.cross img{
        position: absolute;
        right: 26px;
        top: 13px;
    }
.timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* gap: 10px; */

    }

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}



@media (max-width:1200px) {
    .left{
        /* background-color: red; */
        position: absolute;
        left: -100%;
        transition: all 1s ease-out;
        z-index: 2;
        width: 380px;
        background-color: black;
        padding: 0;
        
    }
    .right{
        width:100vw;
        height: 100vh;
        margin: 0;
    }
    .playbar{
        left: 20px;
        width: 85vw;
    
        
    }
    .seekbar{
        width: 84vw;
        top: 130px;
        background-color: #020101d9;
        z-index: 4;
    }

    .hamburger{
        display: block;
    }
    .spotifyplaylist .cardcontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        margin: 5px;
    }
    .spotifyplaylist .card{
        width: 84vw;
        margin: 0;
        
    }
    .abovebar{
        flex-direction: column;
        gap: 5px;
        align-items: center;

    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 12px;

    }
    
}
/* @media (max-width:500px) {
    .spotifyplaylist .card{
        width: 98vw;


    }
} */





